/ total_hours_wasted_here: 30
/ Boilerplate HAML/SCSS commit #18

-# Basic information 
-@author= "jarp"
-@lang= "en"
-@title= "Hello World!"
-@subtitle="My awesome template"
-@description= "My awesome description"
-@keywords="keyword1, keyword2, keywordn"

-# Basic libraries
-@BootstrapV= "4.0.0-beta"
-@PopperV="1.12.5"
-@NormalizeV="7.0.0"
-@jQueryV="3.2.1"
-@FontAwesomeV="4.7.0"

!!!5
%html
    %head{class:"no-js",lang:@lang}

        /Metadata
        %meta{charset:"utf-8"}
        %meta{'http-equiv':"x-ua-compatible", content:"ie-edge"}
        %title= @title
        %meta{name:"description", content:@description}
        %meta{name:"keywords", content:@keywords}
        %meta{name:"author", content:@author}
        %meta{name:"viewport", content:"width=device-width, initial-scale=1, shrink-to-fit=no"}

        /Styles
        %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/normalize/"+@NormalizeV+"/normalize.min.css"}
        %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/"+@FontAwesomeV+"/css/font-awesome.min.css"}
        %link{rel:"stylesheet",href:"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/"+@BootstrapV+"/css/bootstrap.min.css"}
        %link{rel:"stylesheet",href:"./css/styles.css"}

    %body
        /NavBar
        %nav
            = Haml::Engine.new(File.read("./src/layouts/navbar.haml")).render

        /Header
        %header
            = Haml::Engine.new(File.read("./src/layouts/header.haml")).render(Object.new,{:p_title=>@title, :p_subtitle=>@subtitle})
        /Main
        %main
            -# Please replace this with your own sections (this is just an example)
            = Haml::Engine.new(File.read("./src/sections/section.haml")).render
            = Haml::Engine.new(File.read("./src/sections/social.haml")).render
        /Footer
        %footer
            = Haml::Engine.new(File.read("./src/layouts/footer.haml")).render(Object.new,{:p_title=>@title, :p_author=>@author})

        /Scripts
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/jquery/"+@jQueryV+"/jquery.js"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/popper.js/"+@PopperV+"/umd/popper.js"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/"+@BootstrapV+"/js/bootstrap.min.js"}
        /%script{src:"js/analytics.js"}
        /%script{async:"true", src:"'https://www.google-analytics.com/analytics.js"}
        %script{src:"./js/main.js"}
